<div class="container" style="text-align:center">
    <form [formGroup]="registerForm" (submit)="registerUser(registerForm.value)">
        <h2>Register Here</h2>
        <label>Enter User Name</label>
        <input type="text" name="userName" id="username" formControlName="name"><br><br>
        <label>Enter EmailId</label>
        <input type="email" name="userMail" id="userMail"formControlName="email"><br><br>
        <label>Enter Password</label>
        <input type="password" id="userPass" name="userPass" formControlName="password"><br><br>
        <button>Register</button>
    </form>
</div>

