<form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
    <h3>Reset Password</h3>
    <label for="newPassword">Enter New Password:</label>
    <input type="password" id="newPassword" formControlName="newPassword">
    <label for="confirmPassword">Enter Confirm Password:</label>
    <input type="text" id="confirmPassword" formControlName="confirmPassword">  
    <div class="showPass">
        <input type="checkbox" id="showPassword" (change)="showHidePassword($event)">Show Password
    </div>
    <button>Reset Password</button>
</form>
<!-- style="margin-left: -30px; cursor: pointer;" -->