<form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
    <h3>Reset Password</h3>
    <label for="newPassword">Enter New Password:</label>
    <input type="password" id="newPassword" formControlName="newPassword">
    <label for="confirmPassword">Enter Confirm Password:</label>
    <input [type]="showPassword? 'text':'password'" id="confirmPassword" formControlName="confirmPassword">  
    <input [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}" type="checkbox" id="showPassword" (change)="showHidePassword()">Show Password
    <button>Reset Password</button>
</form>
